.bg_courses {
  background-image: url("../../../public/robot-handshake-human-background-futuristic-digital-age.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
