.hero {
  background-image: url("../../../public/globe_vector_1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 10%;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-image: url("../../../public/617d26ca7de75b457a690c6f_Glow.png");
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: 0;
}

.neutrix {
  position: fixed;
  bottom: 10%;
  right: 5%;
  padding: 0;
  margin: 0;
}

.box_1,
.box_2 {
  width: 50px;
  height: 50px;
  border: 7px solid #54f2f2;
  position: absolute;
}

.box_1 {
  border-bottom: none;
  border-right: none;
  top: -20px;
  left: -25px;
}

.box_2 {
  border-left: none;
  border-top: none;
  bottom: -20px;
  right: -20px;
}
