@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81afdd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #54f2f2;
}
body {
  overflow: hidden;
}

* {
  scroll-behavior: smooth !important;
}
