@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth !important;
}
